@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  border: 2px solid white;
  display: flex;
  padding: 20px;
  font-size: 20px;
}

ul{
  list-style-type: none;
  display: flex;
  margin-left: calc(100% - 36vw);
  gap: 80px;
}

